.boardgame-container {
    width: 100%;
    display: flex;
}

.boardgame-category {
    width: 260px;
    height: 100%;
    position: fixed;
    left: -260px;
    z-index: 999;
    transition: all 0.3s;
}

.boardgame-category.active {
    left: 0;
}

.boardgame-wrapper {
    width: 100%;
    /* position: fixed;
    left: 0; */
    border-left: #e2e2e255 solid 2px;
}

.boardgame-sort {
    width: 100%;
    height: 60px;
    display: flex;
}

.boardgame-filterd {
    margin: 20px;
    font-size: 2rem;
}

.boardgame-sort-items {
    margin: auto 0 0 auto;
    display: flex;
}

.boardgame-sort-items li {
    width: 100%;
    height: 20px;
    margin-right: 10px;
    list-style: none;
    text-align: center;
    border: 1px solid gray;
    background-color: #e3e3e3;
}

.boardgames {
    width: 900px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}