.boardgame-container {
    width: 100%;
    margin-top: 65px;
}

.boardgame-info {
    width: 1300px;
    margin: 0 auto;
}

.boardgame-info-title {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 100px;
}

.boardgame-info-filtered {
    margin: 30px 5px 0 0;
    display: flex;
    justify-content: end;
    align-items: center;
    color: gray;
    font-size: small;
}

.boardgame-info-box {
    height: 80px;
    margin-top: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    background-color: #f3f0ec;
}

.boardgame-filter-button {
    width: 50px;
    margin-left: 10px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    cursor: pointer;
}

.boardgame-filter-value {
    font-weight: bold;
    font-size: large;
}

.boardgame-sort {
    display: flex;
    justify-content: end;
}

.boardgames {
    width: 1300px;
    margin: 30px auto;
    display: flex;
    justify-content: center;
}

.boardgame-data {
    width: 1050px;
    display: flex; 
    flex-wrap: wrap;
}

.boardgame-category {
    width: 260px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -260px;
    z-index: 999;
    transition: all 0.3s;
    background-color: rgb(50, 50, 50);
    overflow-y: hidden;
}

.boardgame-category.active {
    left: 0;
    overflow-y: auto;
}

.boardgame-category.active::-webkit-scrollbar {
    display: none;
}
