.boardgame-card {
    width: 200px;
    height: 250px;
    background-color: #e2e2e2;
    border: 1px solid gray;
}

.boardgame-card-img {
    width: 100%;
    height: 55%;
}

.boardgame-card-contents {
    width: 100%;
    height: 45%;
    margin-top: 0;
    background-color: #f4f4f4;
}